{% extends "layout.html" %}

{% block title %}
    Proyectos
    {{ super() }}
{% endblock %}

{% block content %}

<div class="container my-5">
    <h1 class="mb-4">Proyectos</h1>

    <ul class="list-group">
        {% for proyectos in projects %}
            <li class="list-group-item">
                <h4>{{ proyectos.nombre }}</h4>
                <p>{{ proyectos.descripcion }}</p>
                <a href="{{ proyectos.url }}" class="btn btn-primary">Ver detalles</a>
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}